@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Varela+Round&display=swap');

h1{
    color: black;
    font-family: 'Abril Fatface', cursive;
}

h2{
    color: darkgreen;
    font-family: 'Abril Fatface', cursive;
    font-weight: 300;
}

ul{
    list-style-type: none;
}

h1,h2{
    margin-left: 10px;
}
p{

    margin-left: 20px;
}
