@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Varela+Round&display=swap');

h1{
    color: green;
    font-family: 'Abril Fatface', cursive;
}

ul{
    font-family: 'Abril Fatface', cursive;
    list-style-type: none;

}

a{
    color: black;
}